<!--Declare the html file we want to send our content to-->
{% extends "layout.html" %}

<!--Declare the block we want to insert into our the content section of our layout.html file with the name of 'content'-->
{% block content %}
<!--For loop to iterate through our dictionary entries-->
        <!--Take 'title' from our post dictionary and print it-->
        <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                  </div>
                </div>
              </article>

              <h1>Upload new File</h1>
              <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
              </form>
        <!--Declare the end of the for loop-->
<!--End the block of content, specifically defining the 'content' block-->
{% endblock content %}
